.table_values {
    padding: 30px;
    color: grey;
}

.table_div {
    margin-top: 10%;
    padding: 35px;
    width: 100%;
    overflow: scroll;
}

.table_head {
    background-color: #e9fbf0;
}

.head_title {
    padding: 30px;
}