.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px;
    padding: 10px;
}

a {
    padding: 0 10px;
}

.footer_cont {
    position: absolute;
    bottom: -18px;
    width: 80%;
    margin-left: 20%;
    ;
}