.login-form {
    margin-top: 30px;
}

.login-image {
    margin-top: 80px;
}

.check {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.checkbox label {
    margin-left: 10px;
}
