.pages {
    display: flex;
    flex-direction: row;
}

.routing {
    width: 100%;
}

.foot {
    position: relative;
    top: -20px;
}

.bread_crumb {
    margin: 20px 0;
    position: absolute;
    width: 85%;
    top: 5%;
    left: 5%;
}