.content {
    display: flex;
    flex-direction: row;
}

.foot {
    position: absolute;
    bottom: 18px;
    width: 100%;
}

.header {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 10px red;
    margin-left: 25%;
    width: 50vw;
}

.side {
    width: 20vw;
    height: 100vh;
    background-color: white;
}

.route {
    overflow: scroll;
    width: 100%;
}